<section class="login">
    <form name="myform" ng-submit="login()" novalidate>

        <div class="logo">
            <img class="logoImage" src="images/logo.png" />
        </div>

        <div class="textintro">
            <p class="error" ng-show="message">{{message}}</p>
        </div>

        <fieldset>
            <input type="email" name="email" placeholder="E-mail" ng-model="user.email" ng-required="true" />
            <p class="error validationerror" ng-show="myform.email.$invalid && myform.email.$touched">Enter valid E-mail</p>

            <input type="password" name="password" placeholder="Password" ng-model="user.password" ng-required="true" />
            <p class="error validationerror" ng-show="myform.password.$invalid && myform.password.$touched">Enter valid password</p>
        </fieldset>

        <button type="submit" class="btn login" ng-disabled="myform.$invalid">LOG IN</button>
        <p>or <a href="#/register">Register</a></p>
    </form>
</section>
