<head>
    <script src="js/header.js"></script>
</head>

<nav class="nav">
    <div class="menu">
        <span class="toggle">Menu</span>
    </div>
    <div class="title">
        <span class="header">Title</span>
    </div>
    <ul class="links" ng-controller="RegistrationCtrl">
        <li class="level1">
            <a href="#/home" class="primary">Pets</a>
        </li>
        <li class="level1">
            <a href="#/dates" class="primary">Dates</a>
        </li>
        <li class="level1">
            <a href="#/login" class="primary" ng-click="logout()">Logout</a>
        </li>
    </ul>
</nav>